<!DOCTYPE html>
<html ng-app="plantalogApp">
    <head>
        <title>www.plantalog.com</title>
        <link rel="stylesheet" href="css/bootstrap.paper.css" />
        <link rel="stylesheet" href="css/plantalog.css" />
    </head>
    <body>
    <div class="navbar navbar-default navbar-fixed-top" style="display:none;">
        <div class="container">
            <a class="header-icon" href="#" title="plantalog">
                <img src="/img/logo-small.jpg" title="plantalog" >
            </a>
            <div class="searchwrapper" ng-controller="SearchCtrl">
                <input class="search" type="text" ng-model="query" ng-change="onheaderQuery()">
                <div class="resultwrapper">
                    <a href="#/{{search.name}}" ng-click="hideSearch()" class="result list-group-item" ng-repeat="search in searchs | filter:query | orderBy:'name'">
                        <img ng-src="{{search.imgsrc}}" title="{{search.name}}" />
                        <h6>{{search.name}}</h6>
                        <div class="clear"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-wrapper" style="margin:60px auto;position: relative;" ng-view >
        <!-- Hier werden die Views durch Angular geladen -->
    </div>
    <script src="js/angular.js"></script>
    <script src="js/angular.routing.js"></script>
    <script src="js/angular.sanitize.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plantalog.js"></script>
    </body>
</html>