<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Da ist was schief gegangen</title>
    <link rel="stylesheet" href="css/bootstrap.paper.css" />
</head>
<body>
    <div class="container">
        <h1 style="margin:60px 0;">Das hat wohl nicht geklappt</h1>
        <p style="margin-bottom:60px;">
            Dies ist nur eine Alphaversion, im Rahmen der Lehrveranstaltung Verteilte Systeme an der BA-Dresden.<br/>
            Umgesetzt von Marcus Reiche.
        </p>
        <a class="btn btn-default btn-lg btn-block" href="/">Zurück zu Plantalog</a>
    </div>
</body>
</html>